page-contact {
    .content{
        justify-content: center;
        display: flex;
        text-align: center;
        position: relative;
        align-items: center;
        flex-shrink: 0;
        -webkit-box-align: center;
        -webkit-box-pack: center;
    }
    .content-contato{
        margin-top: 75px;
        display: block;
        vertical-align: middle;
    }
    .text{
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin-top: 1.8rem;
        font-size: 2.4rem;
    }
    .btn{
        margin-top: 30px;
    }
    .tabbar{
        display: none;
    }

}
