page-contact {
    .content{
        justify-content: center;
        display: flex;
        text-align: center;
        position: relative;
        align-items: center;
        flex-shrink: 0;
        -webkit-box-align: center;
        -webkit-box-pack: center;
    }
    .content-contato{
        margin-top: 60px;
        display: block;
        vertical-align: middle;
    }
    .content button{
        text-decoration: none;
        background: rgba(255,255,255,.04);
        color: #fff;
        border: none;
        box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
        font-size: 15px;
    
    }
    .content button:focus{
        background-color: gray;
      }
    
    .text{
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin-top: 1.8rem;
        font-size: 2.4rem;
    }
    .btn{
        margin-top: 30px;
    }
    .tabbar{
        display: none;
    }
    .content .btn-skip {
        text-align: left;
        flex: 1;
      }
      .content .btn-skip ion-icon{
        top: 0;
      }
      .content .btn-skip img{
        width: 80%;
      }
      .ion-ios-arrow-dropleft-circle {
        color: #fff;
        font-size: 30px;
      }

}
