<ion-content>
  <!--
  <ion-chip menuToggle swipeBackEnabled="true" swipe-back-enabled="true">
    <ion-avatar>
        <img src="assets/images/icons/user.png" alt="">        
    </ion-avatar>
    <ion-label>{{user.name}}</ion-label>
  </ion-chip>
  -->
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
  <google-map (mapClick)="onMapClick($event)" (mapReady)="onMapReady($event)" [options]="options"></google-map>

  <ion-fab left top>
    <button ion-fab color="vibrant">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-fab-list *ngIf="getNome()" side="bottom">
      <button ion-fab (click)="toBeforeLoginPage()">
        <ion-icon name="log-in"></ion-icon>
      </button> 
    </ion-fab-list>
    <ion-fab-list *ngIf="!getNome()" side="bottom">
      <button ion-fab (click)="toProfilePage()">
        <ion-icon name="contact"></ion-icon>
        <div class="label" dir="ltr">Perfil</div>
      </button>
      <button ion-fab (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        <div class="label" dir="ltr">Logout</div>
      </button>

    </ion-fab-list>

    <ion-fab-list *ngIf="!getNome()" side="right">
      <button ion-fab (click)="toRegisterPage()">
        <ion-icon name="add"></ion-icon>
        <div class="label" dir="ltr">Ocorrências</div>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<!--
<ion-menu [content]="content" swipeBackEnabled="true" swipe-back-enabled="true">

  <ion-content>
    <ion-list>
      <ion-item *ngIf="getNome()">
        <button ion-button color="light" clear (click)="toBeforeLoginPage()">Entrar</button>
      </ion-item>
      <ion-item *ngIf="!getNome()">
        <button ion-button color="light" clear (click)="toProfilePage()">Perfil</button>
      </ion-item>
      <ion-item *ngIf="!getNome()">
        <button ion-button color="light" clear (click)="logout()">Sair</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage" swipeBackEnabled="true" swipe-back-enabled="true"></ion-nav>
-->