page-feed {
    .ion-card{
        margin-bottom: 10px;
    }
    .reload-white{
        color:#ffffff;
    }
    .btn-skip {
        text-align: left;
        position: absolute;
        top: 3%;
        right: 5%;
        color: #fff;
        font-size: 30px;
    }
    .ion-ios-arrow-dropright-circle {
        color: #fff;
        font-size: 30px;
      }
}
